
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;

  img {
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 5px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    transition: transform 200ms ease-in-out;
    color: var(--btn-color);
    
  }

  a:hover {
    transform: scale(1.05);
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}