.card {
  width: 320px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  margin-bottom: 120px;
  border: 1px solid var(--card-border-color);
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card:active {
  transform: translateY(2px);
  box-shadow:  0 2px 2px rgb(0, 0, 0, 0.25);
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.card-image img {
  width: 150%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 18px;
}

.card-title {
  font-size: 20px;
  margin: 0 0 10px;
}

.card-description {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  margin: 15px;
}

.card-actions {
  margin-top: 14px;
}

button {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 15px;
  margin: 10px 10px;
  width: 130px;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}


a {
  width: fit-content;
  align-self: center;
  cursor: pointer;
  color: var(--btn-color);
}


.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 15px 0 0 10px;
}

.tech-tag {
  background: var(--tech-tag-bg);
  border: 1px solid var(--tech-tag-border-color);
  padding: 4px 8px;
  border-radius: 9px;
  font-size: 12px;
  align-items: center;
  color: var(--text-colot);
}