:root {
    --backgroound-color: #fff;
    --btn-color: #0987f2;
    --btn-text-color: #fff;
    --text-colot: #222;
    --form-text-color: #555;
    --card-border-color: #eee;
    --tech-tag-bg: #fff;
    --tech-tag-border-color: #ddd;
}

[data-theme = 'dark'] {
    --backgroound-color: #222;
    --btn-color: #fff;
    --btn-text-color: #222;
    --text-colot: #fff;
    --form-text-color: #fff;
    --card-border-color: #333;
    --tech-tag-bg: #222;
    --tech-tag-border-color: #555;
}

body {
    background-color: var(--backgroound-color);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

:root {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

h1, h2, h3, p {
    color: var(--text-colot);
    margin-top: 0;
    padding: 0;
}

h2, h3, p, textarea {
        font-family: 'Roboto Mono', monospace;
}   

h1, h2 {
    text-transform: uppercase;
}

h2, h3 {
    font-size: 20px;
    margin: 5px 0;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 5px 0;
}

p {
    font-size: 15px;
    font-weight: 300;
}

h4 {
    font-size: 15px;
    margin: 5px 0;
    font-family: 'Roboto Mono';
}

.sectionTitle {
    margin-bottom: 20px;
}

.hover {
    cursor: pointer;
}

@media (width >= 800px) {
    #root {
      gap: 100px;
    }
    h1 {
      font-size: 40px;
      font-weight: bold;
    }
    h2,
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
  
    .sectionTitle {
      margin-bottom: 50px;
    }
}

@media (width >= 1400px) {
    #root {
        gap: 100px;
    }
    h1 {
        font-size: 48px;
    }

    .sectionTitle {
        margin-bottom: 50px;
    }
}